<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="Card 1" class="img-fluid">
    <span>{{destino.nombre}}</span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cumque delectus eius facilis illum in
      laudantium, mollitia natus, necessitatibus nemo omnis porro quaerat quidem veritatis! Assumenda dignissimos
      officiis voluptates.</p>
    <a href="#" class="btn-card">Read</a>
  </div>
</div>
